
{% block body %}
<h3>Créer un nouvel inventaire</h3>
	{{ form_start(form) }}
	{{ form_row(form.location) }}
	{{ form_row(form.note) }}
	{{ form_row(form.date) }}
	
	<button type="submit">Créer</button>

	{{ form_end(form) }}

{% endblock %}
