{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-title">
        <h3>Inventaire</h3>
        <img src="{{ asset('img/books.svg') }}" alt="inventory">
    </div>

    {# <div class="tab-container">
        <div class="tabs">
            <a href="{{ path('family', {tab: 'search'}) }}" class="tab left-tab search-tab {{ tab == 'search' ? 'active' : '' }}">
                <div class="tab-icon"></div>Chercher une famille
            </a>
            <a href="{{ path('family', {tab: 'new'}) }}" class="tab right-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
                <div class="tab-icon"></div>Ajouter une famille
            </a>
        </div>

        <div class="tab-content left-tab search-tab {{ tab == 'search' ? 'active' : '' }}">
            {% include 'family/search.html.twig' %}
			
        </div>

        <div class="tab-content right-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
            {% include 'family/form.html.twig' with {'form': form} %}
        </div>
    </div> #}
{% endblock %}
