{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
<div class="forms-wrapper">
    <h2>Mot de passe oublié</h2>

    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="flash-error">{{ message }}</div>
    {% endfor %}

    {{ form_start(emailForm) }}
        <div class="form-item">
            <label for="{{ emailForm.email.vars.id }}">Email</label>
            {{ form_widget(emailForm.email, {'attr': {'class':'form-field', 'placeholder':'example@mail.com'}}) }}
            {{ form_errors(emailForm.email) }}
        </div>
        <button type="submit" class="btn">Envoyer le lien</button>
    {{ form_end(emailForm) }}
</div>
{% endblock %}
