{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="main">
		<div class="page-title">
		<h3>Home - Bibliothécaire</h3>
		
	</div>
		<div class="home-cards-wrapper">
			<a href="{{path('loan')}}">
				<div class="card">
					<div class="card-title">Prêts & Retours</div>
					<img src="{{ asset('img/child-book.svg') }}" alt="loan"/>
				</div>
			</a>
			<a href="{{path('inventory-item')}}">
				<div class="card">
					<div class="card-title">Inventaire</div>
					<img src="{{ asset('img/books.svg') }}" alt="books"/>
				</div>
			</a>
			{% if is_granted('ROLE_LIBRARIEN') %}
			<a href="{{path('account')}}">
				<div class="card">
					<div class="card-title">Mon compte</div>
					<img src="{{ asset('img/profile-3.svg') }}" alt="profile"/>
				</div>
			</a>
			{% endif %}
		</div>
	</div>

{% endblock %}
