<div class="card one-card edit-wrapper">
	<div class="card-title card-title-family">
		<h4>
			Livre déjà vérifié
		</h4>
	</div>
	<div class="card-body">
	<img class="book-cover" src="{{ itemToEdit.book.coverUrl ? asset(itemToEdit.book.coverUrl) : asset('img/child-book.svg') }}" 
			alt="{{ itemToEdit.book.coverUrl ? itemToEdit.book.title : 'book-for-child' }}">
		<div class="detail">
			<div class="detail-item detail-book item-label">
				<p>Code</p>
				<p>Titre</p>
				<p>Auteur</p>
				<p>Titre (JP)</p>
				<p>Auteur (JP)</p>
				<p>Lieu </p>
			</div>
			<div class="detail-item">
				<p>
					:
					{{ itemToEdit.book.code }}</p>
				<p>
					:
					{{ itemToEdit.book.title }}</p>
				<p>
					:
					{{ itemToEdit.book.author }}</p>
				<p>
					:
					{{ itemToEdit.book.jpTitle }}</p>
				<p>
					:
					{{ itemToEdit.book.jpAuthor }}</p>
				<p>
					:
					<span class="location">
						{{ itemToEdit.book.location.value }}</span>
				</p>
			</div>
		</div>
	</div>
	{{ form_start(itemForm) }}
	{{ form_widget(itemForm.status, {'attr': {'class': 'form-field enum-field'}}) }}
	{{ form_widget(itemForm.note, {'attr': {'class': 'form-field'}}) }}
	<div class="btn-wrapper">
		<button class="btn-form" type="submit">Modifier</button>
		<div class="href-btn cancel-btn"><a href="{{path('admin-items',{id:currentInventory.id,page:'checked'})}}">Annuler</a></div>
	</div>
	{{ form_end(itemForm) }}
</div>
