{% extends 'Admin/base.html.twig' %}

{% block body %}
	<div class="page-title">
		<h3>Gestion des inventaires</h3>
		<img src="{{ asset('img/books.svg') }}" alt="inventory">
	</div>
	<div class="tab-container">
		<div class="tabs">
			<a href="{{ path('inventory', {tab: 'search'}) }}" class="tab left-tab admin-tab search-tab {{ tab == 'search' ? 'active' : '' }}">
				<div class="tab-icon"></div>Chercher
			</a>
			<a href="{{ path('inventory', {tab: 'new'}) }}" class="tab right-tab admin-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
				<div class="tab-icon"></div>Nouvel inventaire
			</a>
		</div>

		{# tab 'search' #}
		<div class="tab-content left-tab admin-tab search-tab {{ tab == 'search' ? 'active' : '' }}">
			{% if tab == 'search' %}
				{% include 'Admin/inventory/search-form.html.twig' with {'filterForm' : filterForm } %}
				{% if inventories is defined and inventories is not null %}
					{% if inventories and inventories|length > 0  %}
						{% include "Admin/inventory/inventory-list.html.twig" with {currentInventory : currentInventory}  %}
					{% endif %}


				{% endif %}
				{% if currentInventory %}
					{% include "Admin/inventory/inventory-page.html.twig" %}
				{% endif %}
			{% endif %}
			{# TODO : afficher la page de détail avec form filter de inventoryitems #}

		</div>

		{# tab 'new' #}
		<div class="tab-content right-tab admin-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
			{% if tab == 'new' %}
				{% include 'Admin/inventory/form.html.twig' with {'form': form} %}
			{% endif %}
		</div>
	</div>
{% endblock %}
