<div class="cards-wrapper">
	{% for inventory in inventories %}
		<div class="card">
			<div class="card-header">
				<a href="{{ path('edit-inventory', { id: inventory.id }) }}" class="edit">
					<img src="{{ asset('img/pencil.svg') }}" alt="edit">
				</a>

				<a href="{{ path('delete-inventory', { id: inventory.id }) }}" class="delete">
					<img src="{{ asset('img/trush.svg') }}" alt="delete">
				</a>
			</div>
			<a href="{{ path('show-inventory', { id: inventory.id }) }}">
				<div class="card-body">
					<p>Date :
						{{ inventory.date|date('d/m/Y') }}</p>
					<p>Lieu :
						{{ inventory.location.value }}</p>
					<p>Note :
						{{ inventory.note }}</p>
					<p>Statut :
						{{ inventory.status.value }}</p>
					<p>Nombre de livres vérifiés : 
						{{ inventory.inventoryItems|length }} </p>
					<p>Nombre de livres signalés : 
						{{ notOkItems|length }}
					<p>Voir le détail -></p>
				</a>
			</div>
		</a>
	</div>
{% endfor %}</div>
