<div class="cards-wrapper">
	{% for inventory in inventories %}
		<div class="card">
			<div class="card-header">
				<div class="icon edit-icon">
					<a href="{{ path('edit-inventory', { id: inventory.id }) }}">
						<span>edit</span>
					</a>
				</div>

				<div class="icon delete-icon">
					<a href="{{ path('delete-inventory', { id: inventory.id }) }}">
						<span>delete</span>
					</a>
				</div>
			</div>

			<div class="card-body">
				<div class="detail-item">
					<p>Date :
						{{ inventory.date|date('d/m/Y') }}</p>
					<p>Lieu :
						{{ inventory.location.value }}</p>
					<p>Note :
						{{ inventory.note }}</p>
					<p>Statut :
						{{ inventory.status.value }}</p>
				</div>
			</div>
			<div class="btn-wrapper">
				<div class="href-btn">
					<a href="{{path('show-inventory',{tab:'search',id:inventory.id})}}">Voir <img src="{{ asset('img/right.svg') }}" alt="right"></a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
