<div class="card one-card success-card">
	<div class="card-title">
		{{successMessage}}
    <h4> {{thisMember.firstName}} / {{thisMember.jpFirstName}} a été ajouté à la famille {{thisFamily.name}} / {{thisFamily.jpName}} </h4>
	</div>
	<div class="icon-success"></div>
		<div class="btn-wrapper">
			<div class="href-btn">
				<a href="{{path('new-member',{id:thisFamily.id})}}">Ajouter un autre enfant</a>
			</div>
            <div class="href-btn">
				<a href="{{path('show-family',{id:thisFamily.id})}}">Voir la famille</a>
			</div>
		</div>
</div>