{% extends 'admin/base.html.twig' %}

{% block title %}Home Admin
{% endblock %}

{% block body %}
	<div class="home-container">
	<div class="page-title">
			<h2>Home - Admin</h2>
		</div>
		<div class="home-cards-wrapper">
			<div>
				<a href="{{path('book')}}">
					<div class="card home-card">
						<div class="card-title">Gestion des livres</div>
						<img src="{{ asset('img/child-book.svg') }}" alt="loan"/>
					</div>
				</a>
			</div>
			<div>
				<a href="{{path('family')}}">
					<div class="card home-card">
						<div class="card-title">Gestion des familles</div>
						<img src="{{ asset('img/family.svg') }}" alt="books"/>
					</div>
				</a>
			</div>
			<div>
				<a href="{{path('inventory')}}">
					<div class="card home-card">
						<div class="card-title">Gestion des inventaires</div>
						<img src="{{ asset('img/books.svg') }}" alt="books"/>
					</div>
				</a>
			</div>
			<div>
				<a href="{{path('librarien')}}">
					<div class="card home-card">
						<div class="card-title">Gestion des bibliothécaires</div>
						<img src="{{ asset('img/user1.svg') }}" alt="books"/>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>{% endblock %}
