<h3>Filtrer ma recherche</h3>

{{ form_start(filterForm) }}
    {{ form_row(filterForm) }}
    <button type="submit">Chrecher</button>
{{ form_end(filterForm) }}

{{ form_start(findBookForm) }}
    {{ form_row(findBookForm) }}
    <button type="submit">Chrecher</button>
{{ form_end(findBookForm) }}








