{% extends 'Admin/base.html.twig' %}

{% block title %}Modifier
{% endblock %}
{% block body %}
<h3>Modifier</h3>
	{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.jpName) }}
	{{ form_row(form.email) }}
{% for memberForm in form.members %}
    {{ form_row(memberForm) }}
    <a href="{{ path('delete-member', { id: memberForm.vars.data.id, family: currentFamily.id }) }}" class="delete">
        <img src="{{ asset('img/trush.svg') }}" alt="delete">
    </a>
{% endfor %}
	
<a href="{{path('new-member',{id: currentFamily.id})}}">Ajouter un enfant</a>
	<button type="submit">Modifier</button>
{{ form_end(form) }}
	
{% endblock %}