<div class="card one-card edit-wrapper">
	<div class="card-title">Modifier
	</div>
	<div class="card-body">

		{{ form_start(form) }}
		<div>
			<div class="form-item">
				<p>Nom de famille</p>
				<div class="item-field">
					:
					{{ form_widget(form.name, {'attr': {'class': 'form-field'}}) }}</div>
			</div>
			<div class="form-item">
				<p>Nom de famille (JP)
				</p>
				<div class="item-field">
					:
					{{ form_widget(form.jpName, {'attr': {'class': 'form-field'}}) }}</div>
			</div>
			<div class="form-item">
				<p>Email</p>
				<div>
					:
					{{ form_widget(form.email, {'attr': {'class': 'form-field'}}) }}</div>
			</div>
		</div>
		
		<div class="btn-wrapper">
			<button class="btn-form" type="submit">Enregistrer</button>
			<div class="href-btn cancel-btn">
				<a href="{{path('show-family',{id:familyToEdit.id})}}">Annuler</a>
			</div>
		</div>

	</div>
	{{ form_end(form) }}</div></div>
