<div>
	<h4>Chercher par nom</h4>
	{{ form_start(searchFamilyForm, {
    		'action': path('family'),
    		'method': 'POST'
 			}) }}
	{{ form_widget(searchFamilyForm.search, {
      'attr': {
        'class': 'search-input',
        'placeholder':'Nom de famille'
      }
    }) }}
	<button type="submit" class="btn">Chercher</button>
	{{ form_end(searchFamilyForm) }}
</div>

{% if results is defined and results is not null %}
	<div class="section-title">
		<h4>Résultats de recherche :</h4>
	</div>
	<div class="result-container">
		{% if results|length > 0 %}
			<ul class="result-list">
				{% for family in results %}
					<li>
						<a href="{{ path('show-family', {id: family.id}) }}">
							{{ family.name|upper }}
							/
							{{ family.jpName }}
							/
							{{ family.email }}
						</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>Aucune famille trouvée !</p>
		{% endif %}
	</div>
{% endif %}

{% if currentFamily is defined and currentFamily is not null %}
	{% include 'admin/family/_show.html.twig' %}
{% endif %}
{% if familyToEdit is defined and familyToEdit is not null %}
	{% include "admin/family/edit.html.twig" %}
{% endif %}
{% if familyToDelete is defined and familyToDelete is not null %}
	{% include "admin/family/delete.html.twig" %}
{% endif %}

{% if addedFamily is defined and addedFamily is not null %}
	{% include "admin/family/success.html.twig" %}
{% endif %}

{% if familyHasLoan is defined and familyHasLoan is not null %}
	{% include "admin/family/error.html.twig" %}
{% endif %}
{% if deleted is defined and deleted is not null %}
	{% include "admin/family/success.html.twig" %}
{% endif %}
{% if edited is defined and edited is not null %}
	{% include "admin/family/success.html.twig" %}
{% endif %}
