<div class="card one-card add-wrapper">
	<div class="card-title card-title-family">
		<h4>Ajouter une famille
		</div>
		<div class="card-body">
			{{ form_start(newFamilyForm) }}
			<div>
				<div class="edit-item">
					<p>Nom de famille</p>
					<div class="item-field">
						:
						{{ form_widget(newFamilyForm.name, {'attr': {'class': 'form-field'}}) }}</div>
				</div>
				<div class="edit-item">
					<p>Nom de famille (JP)</p>
					<div class="item-field">
						:
						{{ form_widget(newFamilyForm.jpName, {'attr': {'class': 'form-field'}}) }}</div>
				</div>
				<div class="edit-item">
					<p>Email</p>
					<div class="item-field">
						:
						{{ form_widget(newFamilyForm.email, {'attr': {'class': 'form-field'}}) }}</div>
				</div>
			</div>
			<div class="btn-wrapper">
				<button class="btn-form" type="submit">Ajouter</button>
				<div class="href-btn">
					<a href="{{path('family',{tab:'new'})}}">Annuler</a>
				</div>
			</div>
			{{ form_end(newFamilyForm) }}
		</div>
	</div>

