{% extends 'admin/base.html.twig' %}

{% block body %}
	<div class="page-title">
		<h2>Gestion des bibliothécaires</h2>
		<img src="{{ asset('img/user1.svg') }}" alt="book">
	</div>

	<div class="tab-container">
		<div class="tabs">
			<a href="{{ path('librarien', {tab: 'family'}) }}" class="tab left-tab admin-tab family-tab {{ tab == 'family' ? 'active' : '' }}">
				<div class="tab-icon"></div>Chercher
			</a>
			<a href="{{ path('librarien', {tab: 'new'}) }}" class="tab right-tab admin-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
				<div class="tab-icon"></div>Ajouter
			</a>
		</div>

		<div class="tab-content left-tab admin-tab family-tab {{ tab == 'family' ? 'active' : '' }}">
			{% if tab == 'family' %}
				{% include 'admin/librarien/search.html.twig' %}
			{% endif %}
		</div>

		<div class="tab-content right-tab admin-tab new-tab {{ tab == 'new' ? 'active' : '' }}">
			{% if tab == 'new' %}
				{% include "admin/librarien/form.html.twig" %}
			{% endif %}

		</div>
	</div>
{% endblock %}

