<form action="" method="POST">
	<h3>Chercher par famille</h3>
	<input type="text" id="family_name" name="family_name" placeholder="Nom de famille…"/>
	<button type="submit">Rechercher</button>
</form>

{% if searchedFamilies is defined and searchedFamilies is not null %}
	<div class="section-title">
		<h4>Résultats de recherche : </h4>
	</div>
	{% if searchedFamilies|length > 0 %}
		<ul class="resultat-list">
			{% for family in searchedFamilies %}
				<li>
					<a href="{{ path('loan-by-family', {familyId: family.id}) }}">
						{{ family.name|upper }} / {{ family.jpName }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucune famille trouvée !</p>
	{% endif %}
{% endif %}

{% if currentFamily %}
	<h5 class="account-nam">Famille
		{{ currentFamily.name|upper }} / {{ currentFamily.jpName }}</h5>

	<h4 class="section-name blue">Ajouter un nouveau prêt</h4>
	<form method="POST" action="{{ path('new-loan') }}">
		<input type="hidden" name="family_id" value="{{ currentFamily.id }}">
		<label for="book_code">Code du livre :</label>
		<input type="text" name="book_code" required>
		<button type="submit">Prêter</button>
	</form>

	<h4 class="section-name yellow">Prêts en cours</h4>
	{% if loans is defined %}
		<div class="cards-container">
			{% if loans|length > 0 %}
				{% for loan in loans %}
					{% include 'loan/_loan_card.html.twig' with { loan: loan } %}
				{% endfor %}
			{% else %}
				<div class="no-resultat">
                <p>Aucun livre trouvé</p>
                </div>
			{% endif %}
		</div>
	{% endif %}
{% endif %}


{# <form action="" method="POST">
	<h3>Chercher par famille</h3>
	<input type="text" id="family_name" name="family_name" placeholder="Nom de famille…"/>
	<button type="submit">Rechercher</button>
</form>

{% if searchedFamilies is not null and searchedFamilies is defined %}
	<div class="section-title">
		<h4>Résultats de recherche :</h4>
	</div>
	{% if searchedFamilies|length > 0 %}
		<ul class="resultat-list">
			{% for family in searchedFamilies %}
				<li>
					<a href="{{ path('loan-by-family', {familyId: family.id}) }}">
						{{ family.name|upper }} / {{ family.jpName }}
					</a>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>Aucune famille trouvée !</p>
	{% endif %}
{% endif %}

{% if currentFamily %}
	<h2>Famille {{ currentFamily.name|upper }} / {{ currentFamily.jpName }}</h2>

	<div>
		<h3>Ajouter un nouveau prêt</h3>
	</div>
	<form method="POST" action="{{ path('new-loan') }}">
		<input type="hidden" name="family_id" value="{{ currentFamily.id }}">
		<label for="book_code">Code du livre :</label>
		<input type="text" name="book_code" required>
		<button type="submit">Prêter</button>
	</form>

	<h3>Prêts en cours</h3>
	{% if loans is defined %}
		<div class="cards-container">
			{% if loans|length > 0 %}
				{% for loan in loans %}
					{% include 'loan/_loan_card.html.twig' with { loan: loan } %}
				{% endfor %}
			{% else %}
				<p>Aucun prêt en cours !</p>
			{% endif %}
		</div>
	{% endif %}
{% endif %} #}
