{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-title">
		<h2>Prêts & Retours</h2>
		<img src="{{ asset('img/child-book.svg') }}" alt="book">
	</div>

	<div class="tab-container">
		<div class="tabs">
			<a href="{{ path('loan', {tab: 'family'}) }}" class="tab librarien-tab left-tab family-tab {{ tab == 'family' ? 'active' : '' }}"><div class="tab-icon"></div><span class="tab-title">Par famille</span></a>
			<a href="{{ path('loan', {tab: 'book'}) }}" class="tab librarien-tab right-tab book-tab {{ tab == 'book' ? 'active' : '' }}"><div class="tab-icon"></div><span class="tab-title">Par livre</span></a>
		</div>

		<div class="tab-content librarien-tab left-tab family-tab {{ tab == 'family' ? 'active' : '' }}">
			{% include 'loan/search-family.html.twig'  %}
		</div>

		<div class="tab-content librarien-tab right-tab book-tab {{ tab == 'book' ? 'active' : '' }}">
			{% include 'loan/search-book.html.twig' %}
		</div>
	</div>
{% endblock %}