<div class="card">
	<div class="card-header loan-card">
		{% if loan is not null %}
			<a href="{{path('return-book',{id:loan.id})}}" class="return-book">
				<img src="{{ asset('img/close.svg') }}" alt="rendre">
				<span>Rendre</span>
			</a>
		{% else %}
			<h3>Livre disponible</h3>
		{% endif %}
	</div>
	<div class="card-body">
		<img class="book-cover" src="{{ book.coverUrl ? asset(book.coverUrl) : asset('img/child-book.svg') }}" alt="{{ book.coverUrl ? book.title : 'book-for-child' }}">
		<div class="detail book-details">
			<p>Code :
				{{ book.code }}</p>
			<p>Titre :
				{{ book.title }}</p>
			<p>Auteur :
				{{ book.author }}</p>
			<p>Titre (JP) :
				{{ book.jpTitle }}</p>
			<p>Auteur (JP) :
				{{ book.jpAuthor }}</p>
			<p>Statut :
				{{ book.status.value }}</p>
			{% if loan is not null %}
				<p>Bibliothécaire :
					{{loan.user.email}}
				</p>
				<p>Date d’emprunt :
					{{ loan.loanDate|date('d/m/Y') }}</p>
				<p>Date de retour prévu :
					{{ loan.expectedReturnDate|date('d/m/Y') }}</p>
				<p>Famille :
					{{ loan.family.name|upper }}
					/
					{{ loan.family.jpName }}</p>
			{% endif %}
			<p>Emplacement :
				<span class="location">{{ book.location.value }}</span>
			</p>
		</div>
	</div>
	{% if loan is null %}
		<div class="btn-wrapper">
			<div class="href-btn">
				<a href="{{path('loan-book',{id:book.id})}}">Prêter ce livre</a>
			</div>
		</div>
	{% endif %}
</div>
