{% if alloverdueloans is defined  %}
	{% include "loan/overdueloans.html.twig" %}

{% else %}

	<div class="inventory-loan-status">
		<ul>
			<li>
				Total des prêts en cours :
				{{ activeLoans|length }}</li>
			<li>
				Retours en retard :
				{{ overdueLoans|length }}
				<a href="{{path('overdue')}}">
						<div class="icon-right"></div>
						<div>
							Voir
						</div>
				</a>
			</li>
		</ul>
	</div>
	<form action="{{path('loan')}}" method="POST">
		<h3 class="form-title">Entrez un nom ou email</h3>
		<input type="text" id="family_name" class="search-input" name="family_name" placeholder="Sakata, サカタ..."/>
		<button type="submit">Rechercher</button>
	</form>
	{% if families is defined and families is not null %}
		<div class="section-title">
			<h4>Résultats de recherche :
			</h4>
		</div>
		<div class="result-container">
			{% if families|length > 0 %}
				<ul class="result-list">
					{% for family in families %}
						<li>
							<a href="{{ path('loan-by-family', {id: family.id}) }}">
								{{ family.name|upper }}
								/
								{{ family.jpName }}
								/
								{{ family.email }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	{% endif %}
	{% if noResult is defined %}
		<div class="card one-card not-found">
			<div class="card-title">
				<h4>Aucune famille trouvée</h4>
				<div class="icon-not-found"></div>
			</div>
		</div>
	{% endif %}


	{% if family is defined and family is not null %}

		<div class="current-family-container">
			<hr>
			<div>
				<h5 class="account-name">Famille
					{{ family.name|upper }}
					/
					{{ family.jpName }}</h5>
			</div>
			<div class="section-container">

				<h4 class="name-container section-name blue">Nouveau prêt</h4>
				<form method="POST" action="">
					<label for="book_code">Code du livre :</label>
					<input type="text" name="book_code" class="search-input" required>
					<button type="submit">Prêter</button>
				</form>
			</div>
			<div class="section-container">
				{% if notDisponible is defined and notDisponible is not null %}
					<div class="card one-card alert-card">
						<div class="card-title">
							<h4>Ce livre est déjà emprunté</h4>
							<div class="icon-alert"></div>
						</div>
					</div>
				{% endif %}
				{% if notFoundCode is defined %}
					<div class="card one-card not-found">
						<div class="card-title">
							<h4>Aucun livre ne correspond à votre recherche</h4>
							<div class="icon-not-found"></div>
						</div>
					</div>
				{% endif %}

				<h4 class="name-container section-name yellow">Prêts en cours</h4>
				{% if loans is defined %}
					<div class="cards-wrapper">

						{% if loans|length > 0 %}
							{% for loan in loans %}
								{% include 'loan/loan-card.html.twig' with { loan: loan } %}
							{% endfor %}
						{% else %}
							<div class="no-result no-loan">
								<p>Aucun prêt en cours</p>
								<div class="result-icon empty"></div>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
