{% if bookToLoan is defined and bookToLoan is not null %}
	{% include "loan/loan-by-book.html.twig" %}
{% else %}
	<div class="forms-wrapper">
		<form action="{{path('loan')}}" method="POST">
			<h3 class="form-title">Code livre :
			</h3>
			<input id="book_code" name="book_code" type="text" placeholder="Code du livre…"/>
			<button type="submit">Rechercher</button>
		</form>
		<form action="{{path('loan')}}" method="POST">
			<h3 class="form-title">Titre ou Auteur :
			</h3>
			<input id="keyword" name="keyword" type="text" placeholder="Titre ou auteur"/>
			<button type="submit">Rechercher</button>
		</form>
	</div>

	<div class="cards-container">
		{% if book is defined and book is not null %}
			{% if loan %}
				{% include 'loan/loan-card.html.twig' with { loan: loan } %}
			{% else %}
				{% include 'loan/book-card.html.twig' with { book: book } %}
			{% endif %}
		{% endif %}
		{% if notFoundCode is defined %}
			<div class="card one-card not-found">
				<div class="card-title">
					<h4>Aucun livre ne correspond à votre recherche</h4>
					<div class="icon-not-found"></div>
				</div>
			</div>
		{% endif %}
		{% if notFound is defined %}
			<div class="card one-card not-found">
				<div class="card-title">
					<h4>Aucun livre ne correspond à votre recherche</h4>
					<div class="icon-not-found"></div>
				</div>
			</div>
		{% endif %}


	</div>
	{% if books is defined %}
		{% if  books | length > 0 %}
			<div class="section-title">
				<h4>Résultats de recherche :
				</h4>
			</div>
			<div class="result-container">
				<ul class="result-list">
					{% for book in books %}
						<li>
							<a href="{{path('show-book',{id:book.id})}}">
								{{ book.title }}
								/
								{{ book.jpTitle }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
