


<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<!-- Import Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<div id="header">
				<div class="header-top">
					<a href="{{ path('home') }}"><img src="{{ asset('img/logo-big.svg') }}" alt="logo"></a>
					<h1>Application de gestion des prêts des livres pour école japonaise</h1>
				</div>
				<nav>
					<h2>Gérez les prêts de livres en toute simplicité</h2>
					{# TODO : gérér menu admin et menu bibliothécaire #}
					<ul class="menu menu-librarien">
						<li class="menu-item"><a href="{{ path('home') }}"><img src="{{ asset('img/home.svg') }}" alt="home"><span class="menu-text">Home</span></a></li>
						<li class="menu-item"><a href="{{ path('loan') }}"><img src="{{ asset('img/child-book.svg') }}" alt="loan"><span class="menu-text">Prêts & Retours</span></a></li>
						<li class="menu-item"><a href="{{ path('inventory_item') }}"><img src="{{ asset('img/books.svg') }}" alt="inventory"><span class="menu-text">Inventaire</span></a></li>
						<li class="menu-item"><a href=""><img src="{{ asset('img/profile-3.svg') }}" alt="account"><span class="menu-text">Mon compte</span></a></li>
						<li class="menu-item"><a href="{{ path('app_logout') }}"><img src="{{ asset('img/logout.svg') }}" alt="logout"><span class="menu-text">Logout</span></a></li>
					</ul>
				</nav> 
			</div>
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			<div id="footer">
				<hr>
				<div class="footer-content">
					<img src="{{ asset('img/logo-small.svg') }}" alt="logo">
					<p>Application de gestion des prêts des livres pour école japonaise</p>
				</div>
			</div>
		{% endblock %}
	</body>
</html>
