<div class="card one-card add-wrapper">
	<div class="card-title card-title-family">
		<h4>
			Livre à vérifier
		</h4>
	</div>
	<div class="card-body">
	<img class="book-cover" src="{{ currentBook.coverUrl ? asset(currentBook.coverUrl) : asset('img/child-book.svg') }}" 
			alt="{{ currentBook.coverUrl ? currentBook.title : 'book-for-child' }}">
		<div class="detail">
			<div class="detail-item detail-book item-label">
				<p>Code</p>
				<p>Titre</p>
				<p>Auteur</p>
				<p>Titre (JP)</p>
				<p>Auteur (JP)</p>
				<p>Lieu </p>
			</div>
			<div class="detail-item">
				<p>
					:
					{{ currentBook.code }}</p>
				<p>
					:
					{{ currentBook.title }}</p>
				<p>
					:
					{{ currentBook.author }}</p>
				<p>
					:
					{{ currentBook.jpTitle }}</p>
				<p>
					:
					{{ currentBook.jpAuthor }}</p>
				<p>
					:
					<span class="location">
						{{ currentBook.location.value }}</span>
				</p>
			</div>
		</div>
	</div>
	{{ form_start(addForm) }}
	{{ form_widget(addForm.status, {'attr': {'class': 'form-field enum-field'}}) }}
	{{ form_widget(addForm.note, {'attr': {'class': 'form-field'}}) }}
	<div class="btn-wrapper">
		<button class="btn-form" type="submit">Valider</button>
	</div>
	{{ form_end(addForm) }}
</div>
