<div class="cards-wrapper">

	{% for book in all %}
		<div class="card">
			<div class="card-body">
				<img class="book-cover" src="{{ book.coverUrl ? asset(book.coverUrl) : asset('img/child-book.svg') }}" alt="{{ book.coverUrl ? book.title : 'book-for-child' }}">
				<div class="detail book-details">
					<p>Code :
						{{ book.code }}</p>
					<p>Titre :
						{{ book.title }}</p>
					<p>Auteur :
						{{ book.author }}</p>
					<p>Titre (JP) :
						{{ book.jpTitle }}</p>
					<p>Auteur (JP) :
						{{ book.jpAuthor }}</p>
					<p>Statut :
						{{ book.status.value }}</p>
					<p>Emplacement :
						<span class="location">{{ book.location.value }}</span>
					</p>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
<a href="{{ path('inventory-page', {id:currentInventory.id}) }}" class="href-btn cancel-btn">Retour</a>

{# {{ knp_pagination_rel_links(pagination) }} #}
