{% extends "base.html.twig" %}

{% block body %}

	{% if allBooks is defined and checkedItems is defined and noCheckedBooks is defined %}
		{% if allBooks|length >0 %}

			{% for book in allBooks %}
				<p>
					{{book.title}}
				</p>

			{% endfor %}
		{% endif %}
        {% if checkedItems|length >0 %}

			{% for item in checkedItems %}
				<a href="{{path('edit-item',{item:item.id})}}">
                    <p>
                        {{item.book.title}}
                    </p>
                </a>

			{% endfor %}
		{% endif %}
        {% if noCheckedBooks|length >0 %}

			{% for book in noCheckedBooks %}
				<a href="{{path('add-item',{inventory:inventory.id,book:book.id})}}">
                    <p>
                        {{book.title}}
                    </p>
                </a>

			{% endfor %}
		{% endif %}
	{% endif %}


	{# {{ knp_pagination_rel_links(pagination) }} #}
{% endblock %}
