<div class="cards-wrapper">
	
		{% for item in checked %}
			<div class="card">
				<div class="card-body">
					<img class="book-cover" src="{{ item.book.coverUrl ? asset(item.book.coverUrl) : asset('img/child-book.svg') }}" 
			alt="{{ item.book.coverUrl ? item.book.title : 'book-for-child' }}">
					<div class="detail book-details">
						<p>Statut :
							{{ item.status.value }}</p>
						<p>Code :
							{{ item.book.code }}</p>
						<p>Titre :
							{{ item.book.title }}</p>
						<p>Auteur :
							{{ item.book.author }}</p>
						<p>Statut :
							{{ item.book.status.value }}</p>
						<p>Emplacement :
							<span class="location">{{ item.book.location.value }}</span>
						</p>
					</div>
				</div>
				<div class="href-btn">
					<a href="{{path('edit-item',{tab:'check',id:currentInventory.id, item:item.id})}}">Changer statut</a>
				</div>
			</div>
		{% endfor %}
</div>
	<a href="{{ path('inventory-page', {id:currentInventory.id}) }}" class="href-btn cancel-btn">Retour</a>
