{% block body %}
<h3>Livre</h3>
<p> {{currentBook.bookCode}} </p>
<p> {{currentBook.title}} </p>
	{{ form_start(form) }}
	{{ form_row(form.status) }}
	{{ form_row(form.note) }}
	<button type="submit">Valider</button>
{{ form_end(form) }}
{% endblock %}