{% extends 'base.html.twig' %}

{% block title %}Inventaire - Bibliothécaire
{% endblock %}

{% block body %}
	<div class="page-title">
		<h3>Inventaire</h3>
		<img src="{{ asset('img/books.svg') }}" alt="inventory">
	</div>

	{% if currentInventory is null %}

		<h4 class="section-title">
			Sessions inventaires ouvertes
		</h4>

		<div class="btn-card-wrapper">
			{% if inventories and inventories|length >0 %}

				{% for i in inventories %}
					<a href="{{path('inventory_item',{ id: i.id })}}">
						<div class="btn-card">
							<p>{{i.date|date('d/m/Y')}}
							</p>
							<p class="location">{{i.location.value}}
							</p>
						</div>
					</a>

				{% endfor %}
			{% else %}
				<div class="no-result">
					<p>Aucune session d'inventaire n'est ouverte</p>
				</div>
			{% endif %}
		</div>
	{% endif %}
	{% if currentInventory %}
	<p> {{currentInventory.location.value}} </p>
	<p> {{currentInventory.note}} </p>
	<a href="{{path('new_inventory_item',{id: currentInventory.id})}}">Commencer l'inventaire</a>
	
	{% endif %}
	


{% endblock %}


