	<div class="tab-container">
		<div class="tabs">
			<a href="{{ path('inventory-page',{id: currentInventory.id, tab:'status'}) }}" class="tab librarien-tab left-tab status-tab {{ tab == 'status' ? 'active' : '' }}"><div class="tab-icon"></div>Suivi de l'inventaire</a>
			<a href="{{ path('inventory-page',{id: currentInventory.id, tab:'check'}) }}" class="tab librarien-tab right-tab check-tab {{ tab == 'check' ? 'active' : '' }}"><div class="tab-icon"></div>Vérifier les livres</a>
		</div>

		<div class="tab-content librarien-tab left-tab status-tab {{ tab == 'status' ? 'active' : '' }}">
			{% include 'inventory_item/status.html.twig'  %}
		</div>

		<div class="tab-content librarien-tab right-tab check-tab {{ tab == 'check' ? 'active' : '' }}">
			{% include 'inventory_item/search.html.twig' %}
		</div>
	</div>
