<p>Date :
		{{ currentInventory.date|date('d/m/Y') }}</p>
	<p>Bâtiment :
		{{ currentInventory.location.value }}</p>
	<p>Note :
		{{ currentInventory.note }}</p>
	<a href="{{path('item-list',{id: currentInventory.id})}}">
		<p>Total livre à vérifier :
			{{ total | length }}
		</p>
	</a>
	<p>Livres vérifiés :
		{{ checked | length }}
	</p>
	<p> validés :
		{{ okItems | length }}
	</p>
	<p> mal rangés :
		{{ badLocations | length }}
	</p>
	<p> non trouvés :
		{{ notFounds | length }}
	</p>
	<p>Autres :
		{{ others | length }}
	</p>