<div class="card-form-wrapper">
	<div class="count">
		<h4>Total livres :
			{{all|length}}
		</h4>

		<div class="count-wrapper">
			<div class="location cameleon">Caméléon :
				{{cameleon|length}}</div>

			<div class="location mba">MBA :
				{{mba|length}}</div>

			<div class="location f">F :
				{{f|length}}</div>

			<div class="location badet">Badet :
				{{badet|length}}</div>

		</div>

	</div>

	<div class="forms-wrapper">
		<div>
			<h4>Code livre</h4>
			{{ form_start(findBookForm, {
    		'action': path('book'),
    		'method': 'POST'
 			}) }}
			{{ form_widget(findBookForm.code, {
      'attr': {
        'class': 'search-input',
        'placeholder': 'Code livre'
      }
    }) }}
			<button type="submit" class="btn">Chercher</button>
			{{ form_end(findBookForm) }}
		</div>

		<div>
			<h4>Titre ou Auteur</h4>
			{{ form_start(filterForm, {
    'action': path('book'),
    'method': 'POST'
  }) }}
			{{ form_widget(filterForm.filter, {
      'attr': {
        'class': 'search-input',
        'placeholder': 'Un titre ou un auteur...'
      }
    }) }}
			<button type="submit" class="btn">Chercher</button>
			{{ form_end(filterForm) }}
		</div>

	</div>

	{% if books is defined and books is not null %}
		<div class="section-title">
			<h4>Résultats de recherche :</h4>
		</div>
		<div class="result-container">
			{% if books|length > 0 %}
				<ul class="result-list">
					{% for book in books %}
						<li>
							<a href="{{ path('admin-show-book', {id: book.id}) }}">
								{{ book.title }}
							</a>
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<div class="card one-card not-found">
					<div class="card-title">
						<h4>Aucun livre ne correspond à votre recherche</h4>
						<div class="icon-not-found"></div>
					</div>
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if currentBook is defined and currentBook is not null %}
		{% include "admin/book/book.html.twig" %}
	{% endif %}

	{% if notFoundCode is defined %}
	{% include "admin/book/notFound.html.twig" %}
	{% endif %}
	

	{% if bookToEdit is defined and bookToEdit is not null %}
		{% include "admin/book/edit.html.twig" %}
	{% endif %}
	{% if bookToDelete is defined and bookToDelete is not null %}
		{% include "admin/book/delete.html.twig" %}
	{% endif %}

	{% if loanBook is defined and loanBook is not null %}
		<div class="card one-card alert-card">
			<div class="card-title">
				<h4>Ce livre est actuellement emprunté.</h4>
			</div>
			<div class="icon-alert"></div>
			<p>Veuillez le rendre avant de pouvoir le supprimer.</p>
			<div class="href-btn cancel-btn">
				<a href="{{path('admin-show-book',{id:loanBook.id})}}">Retour</a>
			</div>
		</div>
	{% endif %}
	{% if modifiedBook is defined and modifiedBook is not null %}
		{% include "admin/book/success.html.twig" %}
	{% endif %}
	{% if erreurCodeBook is defined and erreurCodeBook is not null %}
		{% include "admin/book/erreur.html.twig" %}
	{% endif %}
