<div class="card one-card success-card">
	<div class="card-title">
		{{successMessage}}
	</div>
	<div class="icon-success"></div>
	{% if addedBook is defined and addedBook is not null %}
		<div class="btn-wrapper">
			<div class="href-btn">
				<a href="{{path('book',{tab:'new'})}}">Ajouter un autre livre</a>
			</div>
			<div class="href-btn">
				<a href="{{path('admin-show-book',{id:addedBook.id})}}">Voir le livre</a>
			</div>
		</div>
	{% elseif modifiedBook is defined and modifiedBook is not null %}
			<div class="href-btn">
				<a href="{{path('admin-show-book',{id:modifiedBook.id})}}">Voir le livre</a>
			</div>
	{% elseif deletedBook is defined and deletedBook is not null %}
		<div class="href-btn">
			<a href="{{path('book',{tab:'search'})}}">Retour aux livres</a>
		</div>
	{% endif %}

</div>
